<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{url_for('static', filename="style.css" )}}>
</head>

<body>
    <!-- Flashed messages appear at the top of the screen if present -->
    {%with messages=get_flashed_messages()%}
    {% if messages %}
    {%for message in messages %}
    <p class='warningText'>{{message}}</p>
    {%endfor%}
    {%endif %}
    {%endwith%}
    <h1> Login Here</h1>
    <form action="/checker" method="post">
        <!-- Labels provided for accessibility -->
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
        <input type="submit" value="Login">
    </form>
    <div>
        <h1>Register Here</h1>
        <form action="/register" method="post">
            <div>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <div>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div>
                <label for="passwordconf">Confirm Password</label>
                <input type="text" name="passwordconf" id="passwordconf">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <input type="submit" value="Register Now!">
        </form>
    </div>
</body>

</html>